
@import url('https://fonts.googleapis.com/css?family=Rum+Raisin');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Chewy');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/***********Navigation ***********/

header {
	background-color: #00a4ff;
	border-bottom: 2px solid #fbec5d;
	height: auto;
	overflow: hidden;
	padding: 15px 0px 15px 0px;
	margin-bottom: 0px;
}

header h1 {
	color: white;
	padding: 0px 25px;
	font-family: 'Rum Raisin', sans-serif;
	font-weight: 400;
	font-size: 30px;
	float: left;
}

a {
    text-decoration: none;
    color: white;
}

a.topNav:hover {
    text-decoration: overline;
    color: 	#fbec5d;
}

header nav {
	color: white;
	display: none;
}

header nav ul li {
	display: block;
	padding-bottom: 15px;
}

header nav ul li.allCaps {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	list-style: none;

}

.hamburgerMenu {
	float: right;
	width: 50px;
	padding-right: 25px;
	padding-top: 10px;
	position: static;
}

.hamburgerMenu hr {
	border: 2px solid white;
	margin-bottom: 4px;

}

/***********Global Settings ***********/

#hero,
#heroTwo,
#heroThree,
#heroFour,
#generatorHero,
#generatorBox {
	background-image: url("../images/fruity.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
    background-position: center center;
	background-color: #fc89ac;
	height: 250px;
	width: 100%;
	overflow: hidden;
	padding: 10px;
}

aside.box,
aside.boxTwo,
aside.boxThree,
aside.boxFour,
aside.boxFive {
	max-height: 200px;
	max-width: 600px;
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px;
}

aside.box h2,
aside.boxTwo h2,
aside.boxThree h2,
aside.boxFour h2 {
	font-weight: 700;
	font-size: 42px;
	text-align: center;
	-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

aside.box p,
aside.boxTwo p,
aside.boxThree p,
aside.boxFour p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-top: 15px;
}

button {
	font-family: 'Oswald', sans-serif;
	background:transparent;
    height:auto;
    width: auto;
    margin: 20px auto;
    cursor:pointer;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 25px;
	border: 1;
	border-color: #fc89ac;
	outline: 0;
	text-transform: uppercase;
	border-radius: 20px;
	display: block;
}

/***********HeroTwo ***********/

#heroTwo {
	background-image:none;
	background-color: #40e0e0;
	background-size: cover;
}

aside.boxTwo h2 {
	color: white;
}

aside.boxTwo p {
	color: white;
}

/***********HeroThree ***********/
#heroThree {
	background-image: url("../images/Cereal_2.png");
}

aside.boxThree h2 {
	color: white;
}

aside.boxThree p {
	color: black;
}

/***********HeroFour ***********/

#heroFour {
	background-image: none;
	background-color: white;
	background-size: cover;
}

aside.boxFour h2 {
	color: black;
}

aside.boxFour p {
	color: black;
}

/***********#generator page + HeroFive***********/

#generatorHero {
	background-image: url("../images/cheerios.png");
	background-color: #fc89ac;
}

#generatorBox {
	background-image: url("../images/cereal_box.png");
	background-color: #b2e1cf;
}

aside.boxFive {
	font-family: 'Chewy', cursive;
	color: white;

}

::selection {
    color: none;
    background: none;
}

.rotate{
  -webkit-transform: rotate(343deg);
  -moz-transform: rotate(343deg);
  -ms-transform: rotate(343deg);
  -o-transform: rotate(343deg);
  transform: rotate(343deg);
  margin-top: -50px;
  margin-left: 25px;
}

aside.boxFive button {
	background:white;
}


/***********Footer***********/


footer {
	background-color: #00a4ff;
	border-bottom: 2px solid #fbec5d;
	height: auto;
	overflow: hidden;
	padding: 15px 0px 15px 0px;
	margin-bottom: 0px;

}

footer nav {
	color: white;
	margin: auto;
}

footer nav ul li {
	padding-bottom: 15px;

}

footer nav ul li.allCaps {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	list-style: none;
	text-align: center;

}

/***********Footer FORM***********/
/* Changes the style of the overall form */
#mc_embed_signup {
    background: #f8f8f8;
    color: #000000;
    padding: 20px;
    text-align: left;
    max-width: 425px;
    max-height: 400px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styles the header text above the inputs */
#mc_embed_signup h2 {
	font-family: 'Oswald', sans-serif;
    font-size: 18px;
    /*margin: 0 0 20px;*/
    color: #000000;
    text-align: left;
}

.indicates-required {
	font-family: 'Oswald', sans-serif;
}


/* Adds extra space around the input boxes */
#mc_embed_signup .mc-field-group {
    padding: 10px 0;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

/* Styles the input boxes */
#mc_embed_signup  input {
    width: 200px;
    height: auto;
    padding: 5px 0px;
    font-family: 'Oswald', sans-serif;
    display: inline-block;

}

/* Styles the subscribe button */
#mc_embed_signup .button {
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}


/*************************/
.mySlides {display:none}
/**********************************/
/**********************************/
/**********************************/
[role="page"] {
	background-color: #FFFFFF;
	height: 100%;
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	width: 100%;
}

.current-page {
	visibility: visible;
	z-index: 1;
}




/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/***********Header***********/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

/***********Navigation ***********/
header {
	padding: 15px 0px 15px 0px;
	max-height: 75px;
}

header h1 {
	padding-left:75px;
	font-size: 42px;
	margin: auto;
}

.hamburgerMenu {
		display: none;
	}

header nav {
	color: white;
	float: right;
	margin-right: 50px;
	margin-top: 0px;
	
	display: inline;
}

header nav ul li {
	float: left;
	padding-right: 25px;
}

header nav ul li.allCaps {
	font-size: 22px;
}

/***********Global Settings ***********/
#hero,
#heroTwo,
#heroThree,
#heroFour,
#generatorHero,
#generatorBox
{
	height: 500px;
}

aside.box,
aside.boxTwo,
aside.boxThree,
aside.boxFour,
aside.boxFive {
	padding-top: 50px;
}

aside.box h2,
aside.boxTwo h2,
aside.boxThree h2,
aside.boxFour h2 {
	font-weight: 700;
	font-size: 75px;
}

aside.box p,
aside.boxTwo p,
aside.boxThree p,
aside.boxFour p {
	font-size: 24px;
}

/***********HeroTwo ***********/
/***********HeroThree ***********/
/***********HeroFour ***********/
/***********#generator page + HeroFive***********/

aside.boxFive {
	font-family: 'Chewy', cursive;
	font-size: 40px;
	width: 100%;

}

#generatorBox
{
	height: 700px;
}

/***********Footer***********/

}