
@import url('https://fonts.googleapis.com/css?family=Rum+Raisin');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #00a4ff;
	border-bottom: 2px solid #fbec5d;
	height: auto;
	overflow: hidden;
	padding: 15px 0px 15px 0px;
	margin-bottom: 0px;
}

header h1 {
	color: white;
	padding: 0px 25px;
	font-family: 'Rum Raisin', sans-serif;
	font-weight: 400;
	font-size: 30px;
	float: left;
}

a {
  
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: overline;
    color: 	#fbec5d;
}

header nav {
	color: white;
	display: none;
}

header nav ul li {
	display: block;
	padding-bottom: 15px;
}

header nav ul li.allCaps {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	list-style: none;

}

.hamburgerMenu {
	float: right;
	width: 50px;
	padding-right: 25px;
	padding-top: 10px;
	position: static;
}

.hamburgerMenu hr {
	border: 2px solid white;
	margin-bottom: 4px;

}

/***********Hero 1***********/

#hero {
	background-image: url("../images/honeycomb-cereal.png");
	background-repeat: no-repeat;
    background-position: center center;
	background-color: #fc89ac;
	height: 250px;
	width: 100%;
	overflow: hidden;
	padding: 10px;
}

aside.box {
	max-height: 200px;
	max-width: 500px;
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px;
}

aside.box h2 {
	font-weight: 700;
	font-size: 42px;
	text-align: center;
}

aside.box p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	width: 100%;
	text-align: center;
}

/***********HeroThree***********/

#heroThree {
	background-image: url("../images/Cereal_2.png");
	background-repeat: no-repeat;
    background-position: center center;
	background-color: #b2e1cf;
	height: 250px;
	width: 100%;
	overflow: hidden;
	padding: 10px;
}


aside.boxThree {
	max-height: 200px;
	max-width: 500px;
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px;
}

aside.boxThree h2 {
	font-weight: 700;
	font-size: 42px;
	text-align: center;
	color: black;
}

aside.boxThree p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	color: black;
}

/***********HeroThree***********/

#heroTwo {
	/*background-image: url("../images/coworking.jpg");*/
	background-color: #40e0e0;
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 100%;
	overflow: hidden;
	padding: 10px;
}


aside.boxTwo {
	max-height: 200px;
	max-width: 500px;
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px;
}

aside.boxTwo h2 {
	font-weight: 700;
	font-size: 42px;
	text-align: center;
	color: white;
}

aside.boxTwo p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	color: white;
}

/***********HeroFour***********/

#heroFour {
	/*background-image: url("../images/coworking.jpg");*/
	background-color: white;
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 100%;
	overflow: hidden;
	padding: 10px;
}


aside.boxFour {
	max-height: 200px;
	max-width: 500px;
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 30px;
}

aside.boxFour h2 {
	font-weight: 700;
	font-size: 42px;
	text-align: center;
	color: black;
}

aside.boxFour p {
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	width: 100%;
	text-align: center;
	color: black;
}

aside.boxFour button {
	font-family: 'Oswald', sans-serif;
	background:transparent;
    height:auto;
    width: auto;
    margin: 20px auto;
    cursor:pointer;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 25px;
	border: 1;
	border-color: #fc89ac;
	outline: 0;
	text-transform: uppercase;
	border-radius: 20px;
	display: block;
}

/***********Footer***********/


footer {
	background-color: #00a4ff;
	border-bottom: 2px solid #fbec5d;
	height: auto;
	overflow: hidden;
	padding: 15px 0px 15px 0px;
	margin-bottom: 0px;

}


/* Changes the style of the overall form */
#mc_embed_signup {
    background: #f8f8f8;
    color: #000000;
    padding: 20px;
    text-align: left;
    max-width: 425px;
    max-height: 400px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Styles the header text above the inputs */
#mc_embed_signup h2 {
	font-family: 'Oswald', sans-serif;
    font-size: 18px;
    /*margin: 0 0 20px;*/
    color: #000000;
    text-align: left;
}

.indicates-required {
	font-family: 'Oswald', sans-serif;
}


/* Adds extra space around the input boxes */
#mc_embed_signup .mc-field-group {
    padding: 10px 0;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

/* Styles the input boxes */
#mc_embed_signup  input {
    width: 200px;
    height: auto;
    padding: 5px 0px;
    font-family: 'Oswald', sans-serif;
    display: inline-block;

}

/* Styles the subscribe button */
#mc_embed_signup .button {
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

footer nav {
	color: white;
	margin: auto;
}

footer nav ul li {
	padding-bottom: 15px;

}

footer nav ul li.allCaps {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	list-style: none;
	text-align: center;

}

/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/***********Header***********/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

header {
	padding: 15px 0px 15px 0px;
}

header h1 {
	padding: 0px 75px;
	font-size: 42px;
}

.hamburgerMenu {
		display: none;
	}

header nav {
	color: white;
	float: right;
	margin-right: 50px;
	margin-top: 0px;
	padding-top: 16px;
	display: inline;
}

header nav ul li {
	float: left;
	padding-right: 25px;
}

header nav ul li.allCaps {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 22px;
	list-style: none;

}

header nav ul li.noCaps {
	text-transform: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	list-style: none;
	font-size: 14px;
}
/***********Brains***********/


/***********Hero***********/

#hero,
#heroTwo,
#heroThree,
#heroFour {
	height: 500px;
}

aside.box {
	padding-top: 50px;
}

aside.box h2 {
	font-weight: 700;
}

aside.box p {
	font-weight: 300;
	font-size: 15px;
	line-height: 1.5;
	width: 100%;
}
aside.box p span {
	display: inline;

}


/***********Footer***********/


