* {
	box-sizing: border-box;
}

header, footer {
	border: 3px solid black;
	padding: 20px;
	margin-bottom: 10px;
	height: auto;
	overflow: hidden;
}

section {
	height: 250px;
	border: 3px solid black;
	margin-bottom: 10px;
}

.container {
	padding: 10px;
}
.hamburgerMenu {
	float: right;
	width: 50px;
	border: 1px	solid: black;
	padding: 5px;
}

.hamburgerMenu hr {
	border: 3px solid black;
}

.boxesContainer {
	overflow: hidden;
	margin-bottom: 10px;
}

.boxes {
	width: 100%;
	border: 1px solid black;
	height: 200px;
	margin-bottom: 10px;
}

.footerBoxes {
	float: left;
	width: 100%;
	height: 150px;
	border: 1px solid black;
	margin-bottom: 10px;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	
	.nav ul li {
	float: left;
	border: 1px solid black;
	height: 50px;
	width: 100%;
	max-width: 100px;
	margin-right: 10px;
	}

	.hamburgerMenu {
		display: none;
	}

	.boxesContainer {
	overflow: hidden;
	margin-bottom: 10px;
}
	.boxes {
	float: left;
	width: 23.8%;
	border: 1px solid black;
	height: 200px;
	margin-right: 1.3%;

}
	.boxes:last-child,
	.footerBoxes:last-child {
	margin-right: 0;
}
	.footerBoxes {
	float: left;
	width: 32.66%;
	height: 150px;
	border: 1px solid black;
	margin-right: 1%;
}
}