/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,800');

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  margin: auto;
  background-color: #f0efef;
}

/***********Always add***********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********Header***********/

body {
  background-color: #f0efef;
}
header {
  background-color: #01214c;
  height: 75px;
  overflow: hidden;
  padding: 15px 0px 0px 0px;
  margin-bottom: 0px;
}

header h1 {
  color: white;
  padding: 0px 75px;
  font-weight: 700;
  font-size: 32px;
  float: left;
}

header nav {
  color: #f9e42e;
  float: right;
  margin-right: 50px;
  padding-top: 6px;
}

header nav ul li {
  float: left;
  padding-right: 40px;
  padding-top: 5px;
}

header nav ul li.noCaps {
  text-transform: none;
  font-weight: 300;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}

header a {
  text-decoration: none;
  color: #f9e42e;
}

/***********Two  Columns***********/

#content {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: auto;
} 

#blog {
  width: 72%;
}

#sideBar {
  width: 40%;
  padding-left: 40px;
  width: 25em; 
  word-wrap: break-word;
}

#blog,
#sideBar {
  padding: 30px;
}

#blog img {
  max-width: 550px;
  padding-top: 10px;
  padding-bottom: 20px;
}
#blog h2 {
  font-weight: 600;
  font-size: 40px;
  color: #033048;
}

#blog p {
  font-weight: 300;
  font-size: 24px;
  color: #606161;
}

#blog span {
    float: left;
    font-size: 80px;
    line-height: 1;
    font-weight: 600;
    margin-right: 9px;
}

#blog a {
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  display: block;
  text-align: right;
  color: #033048;
}

#blog hr {
  margin-top: 25px;
  margin-bottom: 25px;
}

#sideBar h2 {
  font-weight: 800;
  font-size: 32px;
  color: #033048;
  padding-bottom: 5px;
}

.sideBar h2 {
  padding-top: 50px;
}

#sideBar p {
  font-weight: 300;
  font-size: 24px;
  color: #033048;
}

#sideBar ul li {
  text-transform: none;
  font-weight: 300;
  list-style: none;
  font-size: 24px;
  color: #033048;
}

#sideBar a {
  font-size: 24px;
  color: #033048;
  text-decoration: none;
}

#sideBar span {
  color: #033048;
  font-weight: 600;
}

#sideBar img {
  max-width: 200px;
  padding-top: 50px;
}

/***********Button ***********/
#button2 {
  background-color: #f9e42e;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 75px;
  padding: 25px;
}

#button2 button {
  font-size: 14px;
  border: 0px solid #033048;
  padding: 10px 45px;
  border-radius: 5px;
  font-weight: 800;
  color: white;
  background: #033048;
  max-width: 200px;
  margin: auto;
  display: block;
}

/***********Footer***********/

#footer {
  background-color: black;
  overflow: hidden;
}

#footer h1 {
  font-size: 38px;
  font-weight: 800;
  color: #f9e42e;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

#footer p {
  font-size: 10px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
#footer img {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 30px;
  width: 100%;
  height: auto;
  float: left;
}

#socialMedia {
  overflow: hidden;
  width: 75px;
  margin: auto;
  padding-bottom: 20px;
}

#socialMedia .twitter {
  margin-right: 15px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




