/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,800');

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
font-family: Open Sans;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  font-family: 'Open Sans', sans-serif;
}

header p {
  font-size: 24px;
  font-weight: bolder;
  color: white;
}

}
h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: white;
}



p {
  font-size: 24px;
}

#header {
  background: url(../images/header_bg.jpg);
background-size: cover;
}

#header h1 {
  font-size: 24px;
  font-weight: 800;
  color: white;
  padding-left: 60px;
  padding-top: 10px;
}

#header h2 {
  font-size: 24px;
  font-weight: 600;
  color: white;
  padding-top: 250px;
  text-align: center;
}

#header button {
  margin-left: 45%;
  margin-top: 40px;
  margin-bottom: 200px;
  background-color: #f9e42e;
  color: #033048;
  font-size: 14px
  font-style: 800;
  border-radius: 5px;
  padding: 10px 45px;
  border: 0px solid #033048;
  font-weight: 800;
}

#benefits {
  background-color: #f0efef;
  height: 300px;
}

#benefits h2 {
  color: #033048;
  font-size: 20px;
  font-weight: 600;
  padding-left: 100px;
  padding-top: 50px;
}

#benefits p {
  color: #606161;
  width: 32em;
  word-wrap: break-word;
  font-size: 13px;
  font-weight: 300;
  padding-left: 100px;
  padding-top: 5px;
}

#benefits ul {
  color: #606161;
  font-size: 13px;
  font-weight: 300;
  list-style-type: none;
  padding-left: 125px;
  padding-top: 25px;
}

#quote {
  background: url(../images/header_bg.jpg);
  background-size: cover;
  background-position: center bottom;
}

#quote blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  color: white;
  text-align: center;
  padding-top: 50px;
  width: 17em;
  margin-left: 39%;
}

#quote p {
  font-size: 18px;
  font-weight: 800;
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

#button2 {
  background-color: #f9e42e;
}
#button2 button {
  font-size: 12px;
  border: 0px solid #033048;
  padding: 10px 45px;
  border-radius: 5px;
  font-weight: 800;
  color: white;
  background: #033048;
  margin-left: 45%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#footer {
  background-color: black;
}

#footer h1 {
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
  text-align: center;
  padding-top: 30px;
}

#footer p {
  font-size: 9px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
#footer img {
  padding-top: 40px;
  padding-bottom: 40px
  width: 35px;
}
/* #benefits span {
  font-size: 25px;
  padding: 0px;
  margin: 0px;
} */